html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-image-width: 3px;
}

.btn:hover {
  background-color: #000;
}
